.add-plan-form-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #a7a6a4;
  .add-plan-content {
    max-width: 40rem;
    min-width: 40rem;
    padding: 2rem;
    //background: rgba(128, 128, 128, 0.918);;
    //box-shadow: 3px 9px 11px 1px #273438;
    .text-center {
      margin-bottom: 3rem;
      text-decoration: underline;
    }
    .button-cont {
      margin-top: 2.5rem;
    }
  }
}